.Cabecalho, #logo, nav{
    display: flex;
    align-items: center;
}

.Cabecalho{
    width: 100%;
    height: 80px;
    justify-content: space-between;
    padding: 5px;
}

#logo{
    width: 20%;
    height: 100%;
}

nav{
    width: 80%;
    height: 100%;
    justify-content: center;
}

nav ul li {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 0px 10px;
    display: inline;
}

a:link{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

a:visited{
    color: #ffffff;
    text-decoration: none;
}

a:active{
    color: #ffffff;
    text-decoration: none;
}